doctype html
html
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="x-apple-disable-message-reformatting")
      link(rel="stylesheet", href="style.css", data-inline)
  body
    center.wrapper(data-link-color='#ffffff' data-body-style='font-size:16px; font-family:helvetica,sans-serif; color:#ffffff; background-color:#ffffff;')
      .webkit
        table.wrapper(cellpadding='0' cellspacing='0' border='0' width='100%' bgcolor='#ffffff')
          tbody
            tr
              td(valign='top' bgcolor='#ffffff' width='100%')
                table.outer(width='100%' role='content-container' align='center' cellpadding='0' cellspacing='0' border='0')
                  tbody
                    tr
                      td(width='100%')
                        table(width='100%' cellpadding='0' cellspacing='0' border='0')
                          tbody
                            tr
                              td
                                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='width:100%; max-width:600px;' align='center')
                                  tbody
                                    tr
                                      td(role='modules-container' style='padding:0px 0px 0px 0px; color:#ffffff; text-align:left;' bgcolor='#1911A2' width='100%' align='left')
                                        table.module.preheader.preheader-hide(role='module' data-type='preheader' border='0' cellpadding='0' cellspacing='0' width='100%' style='display: none !important; mso-hide: all; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;')
                                          tbody
                                            tr
                                              td(role='module-content')
                                                p Email verification
                                        table.module(role='module' data-type='text' border='0' cellpadding='0' cellspacing='0' width='100%' style='table-layout: fixed;' data-muid='gNWHzBzkFeWH4JDKd2Aikk' data-mc-module-version='2019-10-22')
                                          tbody
                                            tr
                                              td(style='background-color:#1911A2; padding:30px 0px 20px 0px; line-height:40px; text-align:inherit;' height='100%' valign='top' bgcolor='#1911A2')
                                                div
                                                  h1(style='text-align: center')
                                                    span(style='font-family: inherit; color: #ffffff')
                                                      strong Welcome to Slatam!
                                                  div
                                        table.module(role='module' data-type='divider' border='0' cellpadding='0' cellspacing='0' width='100%' style='table-layout: fixed;' data-muid='0b78e072-c78b-4804-bd06-7b6b22088c2f.1')
                                          tbody
                                            tr
                                              td(style='padding:0px 0px 0px 0px;' role='module-content' height='100%' valign='top' bgcolor='')
                                                table(border='0' cellpadding='0' cellspacing='0' align='center' width='100%' height='1px' style='line-height:1px; font-size:1px;')
                                                  tbody
                                                    tr
                                                      td(style='padding:0px 0px 1px 0px;' bgcolor='#150b82')
                                        table.module(role='module' data-type='text' border='0' cellpadding='0' cellspacing='0' width='100%' style='table-layout: fixed;' data-muid='bA2FfEE6abadx6yKoMr3F9' data-mc-module-version='2019-10-22')
                                          tbody
                                            tr
                                              td(style='padding:30px 40px 20px 40px; line-height:22px; text-align:inherit; background-color:#1911A2;' height='100%' valign='top' bgcolor='#1911A2')
                                                div
                                                  div(style='font-family: inherit; text-align: center')
                                                    span(style='color: #ffffff; font-family: helvetica,sans-serif; font-size: 18px') We are looking forward to work with you!
                                                  div(style='font-family: inherit; text-align: center')
                                                    br
                                                  div(style='font-family: inherit; text-align: center')
                                                    span(style='color: #ffffff; font-family: helvetica,sans-serif; font-size: 18px') Please, click the link below to verify your email.
                                                  div
                                        table.module(border='0' cellpadding='0' cellspacing='0' data-role='module-button' data-type='button' role='module' style='table-layout:fixed' width='100%' data-muid='bKHWQMgPkL5opYCkxiM6aS')
                                          tbody
                                            tr
                                              td.outer-td(align='center' style='padding:20px 0px 0px 0px;' bgcolor='')
                                                table.button-css__deep-table___2OZyb.wrapper-mobile(border='0' cellpadding='0' cellspacing='0' style='text-align:center')
                                                  tbody
                                                    tr
                                                      td.inner-td(align='center' bgcolor='#ffffff' style='border-radius:6px; font-size:16px; text-align:center; background-color:inherit;')
                                                        a(style='background-color:#ffffff; border:0px solid #993300; border-color:#993300; border-radius:50px; border-width:0px; color:#131a8d; display:inline-block; font-family:inherit; font-size:16px; font-weight:bold; letter-spacing:0px; line-height:30px; padding:12px 50px 12px 50px; text-align:center; text-decoration:none; border-style:solid;' href=verifyEmailLink target='_blank') Verify your email
                                        table.module(role='module' data-type='spacer' border='0' cellpadding='0' cellspacing='0' width='100%' style='table-layout: fixed;' data-muid='vqDDw7scxs521qMEgEyyuF')
                                          tbody
                                            tr
                                              td(style='padding:0px 0px 40px 0px;' role='module-content' bgcolor='')
                                        table.module(role='module' data-type='divider' border='0' cellpadding='0' cellspacing='0' width='100%' style='table-layout: fixed;' data-muid='0b78e072-c78b-4804-bd06-7b6b22088c2f')
                                          tbody
                                            tr
                                              td(style='padding:0px 0px 0px 0px;' role='module-content' height='100%' valign='top' bgcolor='')
                                                table(border='0' cellpadding='0' cellspacing='0' align='center' width='100%' height='1px' style='line-height:1px; font-size:1px;')
                                                  tbody
                                                    tr
                                                      td(style='padding:0px 0px 1px 0px;' bgcolor='#150b82')
                                        .module.unsubscribe-css__unsubscribe___2CDlR(data-role='module-unsubscribe' role='module' data-type='unsubscribe' style='color:#120f84; font-size:12px; line-height:20px; padding:16px 16px 16px 16px; text-align:center;' data-muid='GRteXBNz7UevhwJ6u6GXE')
                                          .Unsubscribe--addressLine
                                          p(style='font-family:arial,helvetica,sans-serif; font-size:12px; line-height:20px;')
                                            a.Unsubscribe--unsubscribeLink.zzzzzzz(target='_blank' href=unsubscribeLink style='') Is this an error? Click here and we will not send you more emails.