doctype html
html
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="x-apple-disable-message-reformatting")
      link(rel="stylesheet", href="style.css", data-inline)
  body
    center.wrapper(data-link-color='#993300' data-body-style='font-size:16px; font-family:verdana,geneva,sans-serif; color:#516775; background-color:#fcfcfc;')
      .webkit
        table.wrapper(cellpadding='0' cellspacing='0' border='0' width='100%' bgcolor='#fcfcfc')
          tbody
            tr
              td(valign='top' bgcolor='#fcfcfc' width='100%')
                table.outer(width='100%' role='content-container' align='center' cellpadding='0' cellspacing='0' border='0')
                  tbody
                    tr
                      td(width='100%')
                        table(width='100%' cellpadding='0' cellspacing='0' border='0')
                          tbody
                            tr
                              td
                                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='width:100%; max-width:560px;' align='center')
                                  tbody
                                    tr
                                      td(role='modules-container' style='padding:20px 20px 0px 20px; color:#516775; text-align:left;' bgcolor='#ffffff' width='100%' align='left')
                                        table.module.preheader.preheader-hide(role='module' data-type='preheader' border='0' cellpadding='0' cellspacing='0' width='100%' style='display: none !important; mso-hide: all; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;')
                                          tbody
                                            tr
                                              td(role='module-content')
                                                p Reset password email
                                        table.module(role='module' data-type='text' border='0' cellpadding='0' cellspacing='0' width='100%' style='table-layout: fixed;' data-muid='8VquPM2ZMj7RJRhAUE6wmF' data-mc-module-version='2019-10-22')
                                          tbody
                                            tr
                                              td(style='background-color:#ffffff; padding:10px 0px 10px 0px; line-height:40px; text-align:inherit;' height='100%' valign='top' bgcolor='#ffffff')
                                                div
                                                  h1(style='text-align: center; font-family: inherit')
                                                    span(style='color: #1911a2; font-family: helvetica, sans-serif; font-size: 36px')
                                                      strong Change your password
                                                  div
                                        table.module(role='module' data-type='divider' border='0' cellpadding='0' cellspacing='0' width='100%' style='table-layout: fixed;' data-muid='noLZCGp2Fg6viPoP15ufF1')
                                          tbody
                                            tr
                                              td(style='padding:0px 0px 0px 0px;' role='module-content' height='100%' valign='top' bgcolor='')
                                                table(border='0' cellpadding='0' cellspacing='0' align='center' width='100%' height='1px' style='line-height:1px; font-size:1px;')
                                                  tbody
                                                    tr
                                                      td(style='padding:0px 0px 1px 0px;' bgcolor='#0e2e75')
                                        table.module(role='module' data-type='text' border='0' cellpadding='0' cellspacing='0' width='100%' style='table-layout: fixed;' data-muid='keQHYG1b1ztewxwhDtuCpS' data-mc-module-version='2019-10-22')
                                          tbody
                                            tr
                                              td(style='background-color:#ffffff; padding:40px 40px 40px 40px; line-height:22px; text-align:inherit;' height='100%' valign='top' bgcolor='#ffffff')
                                                div
                                                  div(style='font-family: inherit; text-align: center')
                                                    span(style='color: #29313c; font-size: 18px; font-family: helvetica, sans-serif') Please click the button below to change your current password.
                                                  div
                                        table.module(border='0' cellpadding='0' cellspacing='0' data-role='module-button' data-type='button' role='module' style='table-layout:fixed' width='100%' data-muid='hthYAt191yTdg6FPWYKodF')
                                          tbody
                                            tr
                                              td.outer-td(align='center' bgcolor='#ffffff' style='padding:0px 50px 40px 50px; background-color:#ffffff;')
                                                table.button-css__deep-table___2OZyb.wrapper-mobile(border='0' cellpadding='0' cellspacing='0' style='text-align:center')
                                                  tbody
                                                    tr
                                                      td.inner-td(align='center' bgcolor='#1911a2' style='border-radius:6px; font-size:16px; text-align:center; background-color:inherit;')
                                                        a(style='background-color:#1911a2; border:0px solid #993300; border-color:#993300; border-radius:50px; border-width:0px; color:#ffffff; display:inline-block; font-family:helvetica,sans-serif; font-size:16px; font-weight:bold; letter-spacing:0px; line-height:30px; padding:12px 40px 12px 40px; text-align:center; text-decoration:none; border-style:solid;' href=resetPasswordLink target='_blank') Change password
                                        table.module(role='module' data-type='divider' border='0' cellpadding='0' cellspacing='0' width='100%' style='table-layout: fixed;' data-muid='noLZCGp2Fg6viPoP15ufF1.1')
                                          tbody
                                            tr
                                              td(style='padding:0px 0px 0px 0px;' role='module-content' height='100%' valign='top' bgcolor='')
                                                table(border='0' cellpadding='0' cellspacing='0' align='center' width='100%' height='1px' style='line-height:1px; font-size:1px;')
                                                  tbody
                                                    tr
                                                      td(style='padding:0px 0px 1px 0px;' bgcolor='#0e2e75')
                                        .module.unsubscribe-css__unsubscribe___2CDlR(data-role='module-unsubscribe' role='module' data-type='unsubscribe' style='color:#1911a2; font-size:12px; line-height:20px; padding:16px 16px 16px 16px; text-align:center;' data-muid='mQ1u1Awkou7szvSGChCGcV')
                                          .Unsubscribe--addressLine
                                          p(style='font-family:helvetica,sans-serif; font-size:12px; line-height:20px;')
                                            a.Unsubscribe--unsubscribeLink.zzzzzzz(target='_blank' href=unsubscribeLink style='color:#1911a2;') Is this an error? Click here and we will not send you more emails.
